.dropArea {
    width:100%;
    max-width: 100%;
}

.dropArea img {
    width:200px;
    border: 1px solid rgba(0, 0, 0, 0.486);
    margin:10px;
    border-radius: 10px;
    transition: 0.2s;
}

.dropArea img:hover {
    width: 190px;
}

.anim {
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    opacity:0;
    animation-name: fadeIn;
}

@keyframes fadeIn {  
    from {opacity:0}
    to {opacity:1}
}